.onboard {
  @include flexCenter;
  height: 92vh;
  &__container {
    background-color: cc(bg);
    height: 80%;
    @include dramaShadow;
    // box-shadow: 5px 5px 15px 1px rgba(0,0,0,.11), 6px 4px 1px 0px rgba(0, 0, 0, 0.11);
    transform: translateY(-40px);
    width: 65%;
    // display: grid;
    // grid-template-columns: 9% 8% 20% 9% 16% 20% 9% 6%;
    // grid-template-rows: repeat(5, 1fr); 
  }
  &__select {
    .title {
      padding: 1em;
    }
    .description {
      padding: 1em 1.5em;
    }
    .get-started {
      padding: 0 1.5em;
      margin-top: 1em;
      @include flexCenter;
      .data-selection {
        margin: 1em 0;
        &__input {
          // display: inline;
          @include switchInput;
        }
      }
    }
    .submit {
      width: 100%;
      padding: 0 1.5em;
      @include flexCenter;
      align-items: flex-end;
      &-button {
        @include btnCrisp;
        box-shadow: none;
        &:focus{
          outline:none;
        }
        &:hover{
          background-color: cc(txt);
          color: cc(bg);
          transform: translateY(-1px);
          box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        }
      
        &.active{
          background-color: cc(txt);
          transform: translateY(1px);
          i {
            color: cc(bg);
          }
        }

      }
    }

  }
}