.spinner__container{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .spinner {
      border-style: solid;
      transform: translateZ(0);
      animation: forward linear infinite;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border-color: rgba($sweet-dreams, 0.15);
      border-left-color: rgba($sweet-dreams, 1);
    }
    @keyframes forward {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
    }
}